In [1]:
import pandas as pd
import numpy as np

# disadvantaged_data= pd.read_csv("/Users/vardr.DESKTOP-R06GCLK/CodeOp_Data_Analytics_Mod3on/Group_Project/UK_ed_under_5/data/3_early_years_provision_disadvantaged_children_2018_2024.csv")
disadvantaged_data= pd.read_csv("./UK Education provision under 5s/data/3_early_years_provision_disadvantaged_children_2018_2024.csv")

In [ ]:
# Nick: Use relative paths rather than absolute paths so that everyone could run the file!

In [2]:
disadvantaged_data

,time_period,time_identifier,geographic_level,country_code,country_name,region_code,region_name,old_la_code,new_la_code,la_name,entitlement_type,age,year_group,disadvantage_type,basis_for_funding,number_children,percentage_children
0,2024,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,Total,Total,Total,Total,293632,100
1,2024,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,Total,Total,Total,Economic reasons,280742,95.6
2,2024,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,Total,Total,Total,High level SEND,1891,0.6
3,2024,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,Total,Total,Total,Looked after or adopted from care,8239,2.8
4,2024,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,Total,Total,Total,Multiple reasons,2666,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82579,2018,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Economic reasons,268,100
82580,2018,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,High level SEND,z,z
82581,2018,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Looked after or adopted from care,z,z
82582,2018,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Multiple reasons,z,z
82583,2018,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Unknown reasons,z,z

In [3]:
disadvantaged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82584 entries, 0 to 82583
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time_period          82584 non-null  int64
 1   time_identifier      82584 non-null  object
 2   geographic_level     82584 non-null  object
 3   country_code         82584 non-null  object
 4   country_name         82584 non-null  object
 5   region_code          82080 non-null  object
 6   region_name          82080 non-null  object
 7   old_la_code          76536 non-null  float64
 8   new_la_code          76536 non-null  object
 9   la_name              76536 non-null  object
 10  entitlement_type     82584 non-null  object
 11  age                  82584 non-null  object
 12  year_group           82584 non-null  object
 13  disadvantage_type    82584 non-null  object
 14  basis_for_funding    82584 non-null  object
 15  number_children      82584 non-null  object
 16  percentage_children  82584 non-null  object
dtypes: float64(1), int64(1), object(15)
memory usage: 10.7+ MB

In [4]:
def display_unique_vals(df):
    for column in df.columns:
        unique_values = df[column].unique()
        print(f' Column: {column}')
        print(f'Number of unique values: {len(unique_values)}')
        print(f'Unique values: {unique_values}')
        print('-' * 40)

In [5]:
display_unique_vals(disadvantaged_data)

 Column: time_period
Number of unique values: 7
Unique values: [2024 2023 2022 2021 2020 2019 2018]
----------------------------------------
 Column: time_identifier
Number of unique values: 1
Unique values: ['Reporting year']
----------------------------------------
 Column: geographic_level
Number of unique values: 3
Unique values: ['National' 'Regional' 'Local authority']
----------------------------------------
 Column: country_code
Number of unique values: 1
Unique values: ['E92000001']
----------------------------------------
 Column: country_name
Number of unique values: 1
Unique values: ['England']
----------------------------------------
 Column: region_code
Number of unique values: 12
Unique values: [nan 'E12000001' 'E12000002' 'E12000003' 'E12000004' 'E12000005'
 'E12000006' 'E12000007' 'E12000008' 'E12000009' 'E13000001' 'E13000002']
----------------------------------------
 Column: region_name
Number of unique values: 12
Unique values: [nan 'North East' 'North West' 'Yorkshire and The Humber' 'East Midlands'
 'West Midlands' 'East of England' 'London' 'South East' 'South West'
 'Inner London' 'Outer London']
----------------------------------------
 Column: old_la_code
Number of unique values: 159
Unique values: [ nan 840. 841. 390. 805. 806. 391. 392. 929. 807. 393. 808. 394. 889.
 890. 350. 351. 895. 896. 942. 876. 340. 888. 341. 352. 353. 354. 355.
 343. 342. 356. 357. 358. 877. 943. 359. 344. 370. 380. 381. 371. 811.
 810. 382. 383. 812. 813. 815. 372. 373. 384. 816. 831. 830. 856. 855.
 925. 940. 892. 891. 857. 941. 330. 331. 332. 884. 333. 893. 334. 860.
 861. 894. 335. 937. 336. 885. 822. 873. 823. 881. 919. 821. 926. 874.
 882. 935. 883. 867. 846. 825. 845. 850. 921. 886. 887. 826. 931. 851.
 870. 871. 852. 936. 869. 938. 868. 872. 800. 839. 801. 908. 878. 838.
 916. 420. 802. 879. 933. 803. 866. 880. 865. 202. 201. 204. 205. 309.
 206. 207. 208. 209. 316. 210. 211. 212. 213. 301. 302. 303. 304. 305.
 306. 307. 308. 203. 310. 311. 312. 313. 314. 315. 317. 318. 319. 320.
 909. 928. 837. 835. 836.]
----------------------------------------
 Column: new_la_code
Number of unique values: 160
Unique values: [nan 'E06000047' 'E06000005' 'E08000037' 'E06000001' 'E06000002'
 'E08000021' 'E08000022' 'E06000057' 'E06000003' 'E08000023' 'E06000004'
 'E08000024' 'E06000008' 'E06000009' 'E08000001' 'E08000002' 'E06000049'
 'E06000050' 'E06000063' 'E06000006' 'E08000011' 'E10000017' 'E08000012'
 'E08000003' 'E08000004' 'E08000005' 'E08000006' 'E08000014' 'E08000013'
 'E08000007' 'E08000008' 'E08000009' 'E06000007' 'E06000064' 'E08000010'
 'E08000015' 'E08000016' 'E08000032' 'E08000033' 'E08000017' 'E06000011'
 'E06000010' 'E08000034' 'E08000035' 'E06000012' 'E06000013' 'E10000023'
 'E08000018' 'E08000019' 'E08000036' 'E06000014' 'E06000015' 'E10000007'
 'E06000016' 'E10000018' 'E10000019' 'E06000061' 'E06000018' 'E10000024'
 'E06000017' 'E06000062' 'E08000025' 'E08000026' 'E08000027' 'E06000019'
 'E08000028' 'E06000051' 'E08000029' 'E10000028' 'E06000021' 'E06000020'
 'E08000030' 'E10000031' 'E08000031' 'E10000034' 'E06000055' 'E10000003'
 'E06000056' 'E10000012' 'E10000015' 'E06000032' 'E10000020' 'E06000031'
 'E06000033' 'E10000029' 'E06000034' 'E06000036' 'E06000043' 'E06000060'
 'E10000011' 'E10000014' 'E06000046' 'E10000016' 'E06000035' 'E06000042'
 'E10000025' 'E06000044' 'E06000038' 'E06000039' 'E06000045' 'E10000030'
 'E06000037' 'E10000032' 'E06000040' 'E06000041' 'E06000022' 'E06000058'
 'E06000023' 'E06000052' 'E10000008' 'E06000059' 'E10000013' 'E06000053'
 'E06000024' 'E06000026' 'E10000027' 'E06000025' 'E06000030' 'E06000027'
 'E06000054' 'E09000007' 'E09000001' 'E09000012' 'E09000013' 'E09000014'
 'E09000019' 'E09000020' 'E09000022' 'E09000023' 'E09000025' 'E09000028'
 'E09000030' 'E09000032' 'E09000033' 'E09000002' 'E09000003' 'E09000004'
 'E09000005' 'E09000006' 'E09000008' 'E09000009' 'E09000010' 'E09000011'
 'E09000015' 'E09000016' 'E09000017' 'E09000018' 'E09000021' 'E09000024'
 'E09000026' 'E09000027' 'E09000029' 'E09000031' 'E10000006' 'E10000021'
 'E10000002' 'E06000028' 'E10000009' 'E06000029']
----------------------------------------
 Column: la_name
Number of unique values: 158
Unique values: [nan 'County Durham' 'Darlington' 'Gateshead' 'Hartlepool' 'Middlesbrough'
 'Newcastle upon Tyne' 'North Tyneside' 'Northumberland'
 'Redcar and Cleveland' 'South Tyneside' 'Stockton-on-Tees' 'Sunderland'
 'Blackburn with Darwen' 'Blackpool' 'Bolton' 'Bury' 'Cheshire East'
 'Cheshire West and Chester' 'Cumberland' 'Halton' 'Knowsley' 'Lancashire'
 'Liverpool' 'Manchester' 'Oldham' 'Rochdale' 'Salford' 'Sefton'
 'St. Helens' 'Stockport' 'Tameside' 'Trafford' 'Warrington'
 'Westmorland and Furness' 'Wigan' 'Wirral' 'Barnsley' 'Bradford'
 'Calderdale' 'Doncaster' 'East Riding of Yorkshire'
 'Kingston upon Hull, City of' 'Kirklees' 'Leeds'
 'North East Lincolnshire' 'North Lincolnshire' 'North Yorkshire'
 'Rotherham' 'Sheffield' 'Wakefield' 'York' 'Derby' 'Derbyshire'
 'Leicester' 'Leicestershire' 'Lincolnshire' 'North Northamptonshire'
 'Nottingham' 'Nottinghamshire' 'Rutland' 'West Northamptonshire'
 'Birmingham' 'Coventry' 'Dudley' 'Herefordshire, County of' 'Sandwell'
 'Shropshire' 'Solihull' 'Staffordshire' 'Stoke-on-Trent'
 'Telford and Wrekin' 'Walsall' 'Warwickshire' 'Wolverhampton'
 'Worcestershire' 'Bedford' 'Cambridgeshire' 'Central Bedfordshire'
 'Essex' 'Hertfordshire' 'Luton' 'Norfolk' 'Peterborough'
 'Southend-on-Sea' 'Suffolk' 'Thurrock' 'Bracknell Forest'
 'Brighton and Hove' 'Buckinghamshire' 'East Sussex' 'Hampshire'
 'Isle of Wight' 'Kent' 'Medway' 'Milton Keynes' 'Oxfordshire'
 'Portsmouth' 'Reading' 'Slough' 'Southampton' 'Surrey' 'West Berkshire'
 'West Sussex' 'Windsor and Maidenhead' 'Wokingham'
 'Bath and North East Somerset' 'Bournemouth, Christchurch and Poole'
 'Bristol, City of' 'Cornwall' 'Devon' 'Dorset' 'Gloucestershire'
 'Isles of Scilly' 'North Somerset' 'Plymouth' 'Somerset'
 'South Gloucestershire' 'Swindon' 'Torbay' 'Wiltshire' 'Camden'
 'City of London' 'Hackney' 'Hammersmith and Fulham' 'Haringey'
 'Islington' 'Kensington and Chelsea' 'Lambeth' 'Lewisham' 'Newham'
 'Southwark' 'Tower Hamlets' 'Wandsworth' 'Westminster'
 'Barking and Dagenham' 'Barnet' 'Bexley' 'Brent' 'Bromley' 'Croydon'
 'Ealing' 'Enfield' 'Greenwich' 'Harrow' 'Havering' 'Hillingdon'
 'Hounslow' 'Kingston upon Thames' 'Merton' 'Redbridge'
 'Richmond upon Thames' 'Sutton' 'Waltham Forest' 'Cumbria'
 'Northamptonshire' 'Bournemouth' 'Poole']
----------------------------------------
 Column: entitlement_type
Number of unique values: 1
Unique values: ['15-hour entitlement']
----------------------------------------
 Column: age
Number of unique values: 3
Unique values: ['Total' '2-year-olds' '3 and 4-year-olds']
----------------------------------------
 Column: year_group
Number of unique values: 3
Unique values: ['Total' 'Nursery' 'Reception']
----------------------------------------
 Column: disadvantage_type
Number of unique values: 4
Unique values: ['Total' 'Early years provision for disadvantaged 2-year-olds'
 'Early years pupil premium' 'Free school meals']
----------------------------------------
 Column: basis_for_funding
Number of unique values: 6
Unique values: ['Total' 'Economic reasons' 'High level SEND'
 'Looked after or adopted from care' 'Multiple reasons' 'Unknown reasons']
----------------------------------------
 Column: number_children
Number of unique values: 3505
Unique values: ['293632' '280742' '1891' ... '1813' '2268' '1553']
----------------------------------------
 Column: percentage_children
Number of unique values: 577
Unique values: ['100' '95.6' '0.6' '2.8' '0.9' '1.8' '96.6' '1.6' '2.4' 'z' '91.7' '5.1'
 '5' '94.9' '3.1' '1.1' '95' '0.3' '3.5' '1' '2.2' '96.4' '0.7' '90.5'
 '5.9' '2.3' '94.1' '3.7' '1.5' '95.4' '0.5' '3.2' '96.8' '1.2' '2.5'
 '91.1' '6.1' '2.1' '94.5' '1.3' '95.7' '0.4' '97.3' '91.8' '6.3' '1.9'
 '3.8' '94.6' '4.1' '96.3' '0.8' '2' '1.4' '2.6' '2.7' '3.6' '1.7' '94.8'
 '88.7' '4.6' '8.5' '93.3' '3.3' '92.4' '95.2' '2.9' '96.7' '98.7' '91.5'
 '5.4' '3' '6.2' '95.5' '4.7' '4.2' '96.1' '94' '4.5' '98.3' '99.1' '6'
 '4' '97.8' '3.4' '87.8' '4.9' '9.6' '93.1' '96.5' 'low' '0.1' '0.2'
 '94.3' '0' '7.3' '4.3' '89' '14.5' '7.1' '92.7' '93.4' '86' '12.3' '91.9'
 '7.2' '94.2' '97.2' '88.3' '10.6' '92.5' '6.8' '93.6' '99.9' '82.9'
 '13.1' '89.4' '8.2' '5.3' '7.9' '6.9' '81.8' '18.2' '91.4' '8.6' '4.4'
 '95.8' '3.9' '83.3' '11.1' '88.8' '7.4' '86.3' '12.1' '9.7' '11.3' '91.2'
 '7.7' '96.9' '99' '94.7' '96.2' '99.4' '86.9' '11.2' '93' '5.6' '4.8'
 '79.6' '19.6' '90.1' '9.5' '97.6' '98.6' '93.7' '96' '92.3' '5.8' '88.1'
 '7.5' '6.5' '92.8' '97' '89.5' '91.6' '83.5' '9.4' '6.4' '5.2' '95.3'
 '83.1' '11.6' '88.9' '7.6' '93.5' '99.5' '98.8' '99.6' '99.7' '99.2'
 '5.7' '97.9' '83.7' '14.3' '9.8' '98.2' '97.4' '18.6' '11.9' '85' '11'
 '92.6' '15.1' '6.7' '90.2' '8.4' '95.1' '93.9' '92.1' '94.4' '99.8'
 '98.4' '13' '7' '12.4' '89.3' '8.1' '87.6' '12.7' '9.1' '8' '5.5' '90.9'
 '10.4' '10.3' '98.5' '98.1' '92.9' '86.1' '8.7' '90.6' '9.9' '93.8' '6.6'
 '86.6' '9' '95.9' '98' '97.5' '85.6' '14' '93.2' '81.6' '17.4' '89.6'
 '10' '97.7' '89.9' '84.4' '90.8' '91.3' '77.3' '19.8' '87.1' '88.2'
 '92.2' '90.3' '98.9' '97.1' '10.9' '82' '14.8' '90.4' '85.9' '91' '88.6'
 '10.7' '80.6' '12.6' '92' '99.3' '21.3' '17.9' '86.2' '10.5' '10.1'
 '84.3' '15.3' '82.6' '87.7' '83' '8.3' '11.4' '74' '25.2' '21.1' '76.6'
 '50.5' '48' '86.4' '10.8' '79.9' '16.7' '87.4' '89.7' 'c' '84.5' '85.8'
 '81.7' '13.9' '88' '7.8' '90.7' '77.7' '18.8' '87.9' '10.2' '82.8' '88.4'
 '8.9' '85.3' '13.4' '80.7' '82.7' '16.2' 'u' '89.8' '82.4' '16.6' '83.6'
 '12.9' '88.5' '87.5' '78.6' '19.3' '89.2' '79' '20.7' '31.8' '67.2'
 '57.3' '42.1' '79.5' '17.5' '83.2' '9.2' '86.7' '11.7' '80' '15' '80.4'
 '17.7' '13.5' '84.8' '11.5' '87.3' '83.9' '12.8' '86.5' '89.1' '69.8'
 '27.8' '27.4' '70.4' '52.6' '46' '66.3' '31.3' '22.6' '75.2' '48.4'
 '50.1' '16' '14.2' '83.8' '85.7' '9.3' '13.3' '81.5' '85.5' '14.1' '84.1'
 '84' '48.5' '50.2' '71' '28.3' '78.8' '90' '13.2' '77.8' '17' '14.7'
 '78.2' '15.9' '87' '73' '24.1' '8.8' '84.7' '62.9' '34.9' '80.2' '18.7'
 '72.5' '23' '85.1' '62.1' '34.1' '19' '73.7' '80.3' '17.1' '84.2' '60.4'
 '31' '77' '18' '68.2' '26.2' '81.1' '15.6' '15.5' '60.1' '76.5' '69'
 '25.7' '81' '15.7' '72.9' '20.2' '82.3' '70' '86.8' '74.1' '23.2' '16.8'
 '52.1' '15.4' '66.1' '29.7' '62.7' '34.3' '15.2' '14.9' '20.5' '75'
 '17.6' '83.4' '20' '18.3' '75.5' '63.2' '76.1' '57.1' '39.3' '76.8'
 '80.8' '18.9' '36.4' '62.5' '59.9' '39.4' '71.2' '12.5' '65.5' '24.9'
 '87.2' '82.5' '72.8' '13.7' '76.2' '62.8' '28.4' '73.2' '22.9' '14.6'
 '65.9' '30.6' '71.8' '11.8' '18.4' '58.3' '31.5' '72.3' '20.9' '69.7'
 '80.1' '21' '13.8' '13.6' '17.8' '78' '17.2' '64.4' '28.2' '19.2' '71.6'
 '24.7' '82.2' '70.9' '12' '71.9' '27.2' '72.7' '23.6' '30.2' '73.6' '22'
 '43.2' '32.2' '65.6' '77.1' '21.4' '72.6' '25' '73.9' '85.4' '55.9'
 '38.9' '76.3' '73.3' '65.4' '34.5' '58.9' '39.5' '75.1' '22.5' '25.6'
 '78.3' '18.1' '25.1' '16.5' '77.4' '80.9' '81.9' '71.4' '69.5' '80.5'
 '75.9' '67.6' '76' '81.3' '69.9' '23.5' '61.5' '30.9' '73.4' '72.1'
 '28.6' '19.4' '77.2' '15.8' '67.9' '28.7' '70.7' '68.3' '78.1' '72.2'
 '27' '79.2' '58.2' '67' '82.1' '64.6' '31.4' '73.8' '12.2' '28' '76.9'
 '76.4' '54.3' '33.5' '77.5' '75.7' '67.5' '79.1' '39.1' '59.5' '38'
 '85.2' '84.6' '50' '19.1' '24.5' '22.8' '68.5' '53.6' '44.5' '70.2'
 '27.1' '26.8' '16.3' '40.5' '58' '61.2' '37.8' '22.2']
----------------------------------------

## Changing to datetime

In [6]:
disadvantaged_data["time_period"] = pd.to_datetime(disadvantaged_data["time_period"], format = "%Y")

In [7]:
disadvantaged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82584 entries, 0 to 82583
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   time_period          82584 non-null  datetime64[ns]
 1   time_identifier      82584 non-null  object
 2   geographic_level     82584 non-null  object
 3   country_code         82584 non-null  object
 4   country_name         82584 non-null  object
 5   region_code          82080 non-null  object
 6   region_name          82080 non-null  object
 7   old_la_code          76536 non-null  float64
 8   new_la_code          76536 non-null  object
 9   la_name              76536 non-null  object
 10  entitlement_type     82584 non-null  object
 11  age                  82584 non-null  object
 12  year_group           82584 non-null  object
 13  disadvantage_type    82584 non-null  object
 14  basis_for_funding    82584 non-null  object
 15  number_children      82584 non-null  object
 16  percentage_children  82584 non-null  object
dtypes: datetime64[ns](1), float64(1), object(15)
memory usage: 10.7+ MB

## Removing all National and Regional Totals

In [9]:
disadvantaged_data = disadvantaged_data.dropna(how ="any" , subset = ["new_la_code"])

In [10]:
disadvantaged_data

,time_period,time_identifier,geographic_level,country_code,country_name,region_code,region_name,old_la_code,new_la_code,la_name,entitlement_type,age,year_group,disadvantage_type,basis_for_funding,number_children,percentage_children
864,2024-01-01,Reporting year,Local authority,E92000001,England,E12000001,North East,840.0,E06000047,County Durham,15-hour entitlement,Total,Total,Total,Total,3847,100
865,2024-01-01,Reporting year,Local authority,E92000001,England,E12000001,North East,840.0,E06000047,County Durham,15-hour entitlement,Total,Total,Total,Economic reasons,3713,96.5
866,2024-01-01,Reporting year,Local authority,E92000001,England,E12000001,North East,840.0,E06000047,County Durham,15-hour entitlement,Total,Total,Total,High level SEND,1,low
867,2024-01-01,Reporting year,Local authority,E92000001,England,E12000001,North East,840.0,E06000047,County Durham,15-hour entitlement,Total,Total,Total,Looked after or adopted from care,130,3.4
868,2024-01-01,Reporting year,Local authority,E92000001,England,E12000001,North East,840.0,E06000047,County Durham,15-hour entitlement,Total,Total,Total,Multiple reasons,52,1.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82579,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Economic reasons,268,100
82580,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,High level SEND,z,z
82581,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Looked after or adopted from care,z,z
82582,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Multiple reasons,z,z
82583,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Reception,Free school meals,Unknown reasons,z,z

In [11]:
disadvantaged_data["year_group"].value_counts(dropna=False)

year_group
Nursery      38268
Total        19134
Reception    19134
Name: count, dtype: int64

In [8]:
disadvantaged_data = keep_total = disadvantaged_data[disadvantaged_data["year_group"] == 'Total']

In [9]:
# Nick: Was this double = on purpose?
# If so, it technically works but is a very unusual way of coding this!

In [10]:
disadvantaged_data["year_group"].value_counts(dropna=False)

year_group
Total    20646
Name: count, dtype: int64

In [11]:
disadvantaged_data["disadvantage_type"].value_counts(dropna=False)

disadvantage_type
Total    20646
Name: count, dtype: int64

## Remove total and 2 year olds from age column

In [13]:
def filter_out_age(df):
    """
    Removes rows where the column 'age' contains specific unwanted values.
    Parameters:
    df: The DataFrame to modify
    Returns:
    pandas.DataFrame: The modified DataFrame with rows removed.
    """
    unwanted_values = ['2-year-olds', 'Total']
    if 'age' in df.columns:
        return df[~df['age'].isin(unwanted_values)].reset_index(drop=True)
    
    
# Nick: Excellent use of docstrings! Could also use type hints as well :)

In [14]:
disadvantaged_data = filter_out_age(disadvantaged_data)

In [15]:
disadvantaged_data

,time_period,time_identifier,geographic_level,country_code,country_name,region_code,region_name,old_la_code,new_la_code,la_name,entitlement_type,age,year_group,disadvantage_type,basis_for_funding,number_children,percentage_children
0,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,177780,100
1,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Economic reasons,168775,94.9
2,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,High level SEND,z,z
3,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Looked after or adopted from care,5495,3.1
4,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Multiple reasons,1916,1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6877,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,Economic reasons,699,95.1
6878,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,High level SEND,z,z
6879,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,Looked after or adopted from care,24,3.3
6880,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,Multiple reasons,16,2.2
6881,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,Unknown reasons,28,3.8

## For further processing of disadvantaged data only, you would remove the total values under basis_for_funding
## For subsetting for joining with 15_hours (file 1), I will keep ONLY 'Total' under basis_for_funding

In [16]:
disadvantaged_data = keep_total = disadvantaged_data[disadvantaged_data["basis_for_funding"] == 'Total']

In [17]:
disadvantaged_data

,time_period,time_identifier,geographic_level,country_code,country_name,region_code,region_name,old_la_code,new_la_code,la_name,entitlement_type,age,year_group,disadvantage_type,basis_for_funding,number_children,percentage_children
0,2024-01-01,Reporting year,National,E92000001,England,NaN,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,177780,100
6,2024-01-01,Reporting year,Regional,E92000001,England,E12000001,North East,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,11700,100
12,2024-01-01,Reporting year,Regional,E92000001,England,E12000002,North West,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,28520,100
18,2024-01-01,Reporting year,Regional,E92000001,England,E12000003,Yorkshire and The Humber,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,20950,100
24,2024-01-01,Reporting year,Regional,E92000001,England,E12000004,East Midlands,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,15720,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,315.0,E09000024,Merton,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,535,100
6858,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,317.0,E09000026,Redbridge,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,526,100
6864,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,318.0,E09000027,Richmond upon Thames,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,191,100
6870,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,319.0,E09000029,Sutton,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,411,100
6876,2018-01-01,Reporting year,Local authority,E92000001,England,E13000002,Outer London,320.0,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,Total,Total,Total,735,100

In [19]:
# Nick: Remove empty lines of code.

In [18]:
disadvantaged_data = disadvantaged_data.drop(
    ["time_identifier", "country_code","country_name", "old_la_code"], axis = 1
)

In [20]:
disadvantaged_data.reset_index

<bound method DataFrame.reset_index of      time_period geographic_level region_code               region_name  \
0     2024-01-01         National         NaN                       NaN
6     2024-01-01         Regional   E12000001                North East
12    2024-01-01         Regional   E12000002                North West
18    2024-01-01         Regional   E12000003  Yorkshire and The Humber
24    2024-01-01         Regional   E12000004             East Midlands
...          ...              ...         ...                       ...
6852  2018-01-01  Local authority   E13000002              Outer London
6858  2018-01-01  Local authority   E13000002              Outer London
6864  2018-01-01  Local authority   E13000002              Outer London
6870  2018-01-01  Local authority   E13000002              Outer London
6876  2018-01-01  Local authority   E13000002              Outer London

     new_la_code               la_name     entitlement_type  \
0            NaN                   NaN  15-hour entitlement
6            NaN                   NaN  15-hour entitlement
12           NaN                   NaN  15-hour entitlement
18           NaN                   NaN  15-hour entitlement
24           NaN                   NaN  15-hour entitlement
...          ...                   ...                  ...
6852   E09000024                Merton  15-hour entitlement
6858   E09000026             Redbridge  15-hour entitlement
6864   E09000027  Richmond upon Thames  15-hour entitlement
6870   E09000029                Sutton  15-hour entitlement
6876   E09000031        Waltham Forest  15-hour entitlement

                    age year_group disadvantage_type basis_for_funding  \
0     3 and 4-year-olds      Total             Total             Total
6     3 and 4-year-olds      Total             Total             Total
12    3 and 4-year-olds      Total             Total             Total
18    3 and 4-year-olds      Total             Total             Total
24    3 and 4-year-olds      Total             Total             Total
...                 ...        ...               ...               ...
6852  3 and 4-year-olds      Total             Total             Total
6858  3 and 4-year-olds      Total             Total             Total
6864  3 and 4-year-olds      Total             Total             Total
6870  3 and 4-year-olds      Total             Total             Total
6876  3 and 4-year-olds      Total             Total             Total

     number_children percentage_children
0             177780                 100
6              11700                 100
12             28520                 100
18             20950                 100
24             15720                 100
...              ...                 ...
6852             535                 100
6858             526                 100
6864             191                 100
6870             411                 100
6876             735                 100

[1147 rows x 13 columns]>

In [21]:
# Nick: Just to make sure, the previous line of code doesn't overwrite it right!

In [22]:
disadvantaged_data = disadvantaged_data.drop(
    ["basis_for_funding"], axis = 1
)

In [23]:
disadvantaged_data = disadvantaged_data.drop(
    ["year_group", "disadvantage_type",], axis = 1
)

In [24]:
disadvantaged_data = disadvantaged_data.drop(
    ["percentage_children"], axis = 1
)

In [25]:
disadvantaged_data.rename(
    columns = {
        "number_children" : "number_children_dis",
        },
    inplace=True
)

In [26]:
disadvantaged_data.reset_index

<bound method DataFrame.reset_index of      time_period geographic_level region_code               region_name  \
0     2024-01-01         National         NaN                       NaN
6     2024-01-01         Regional   E12000001                North East
12    2024-01-01         Regional   E12000002                North West
18    2024-01-01         Regional   E12000003  Yorkshire and The Humber
24    2024-01-01         Regional   E12000004             East Midlands
...          ...              ...         ...                       ...
6852  2018-01-01  Local authority   E13000002              Outer London
6858  2018-01-01  Local authority   E13000002              Outer London
6864  2018-01-01  Local authority   E13000002              Outer London
6870  2018-01-01  Local authority   E13000002              Outer London
6876  2018-01-01  Local authority   E13000002              Outer London

     new_la_code               la_name     entitlement_type  \
0            NaN                   NaN  15-hour entitlement
6            NaN                   NaN  15-hour entitlement
12           NaN                   NaN  15-hour entitlement
18           NaN                   NaN  15-hour entitlement
24           NaN                   NaN  15-hour entitlement
...          ...                   ...                  ...
6852   E09000024                Merton  15-hour entitlement
6858   E09000026             Redbridge  15-hour entitlement
6864   E09000027  Richmond upon Thames  15-hour entitlement
6870   E09000029                Sutton  15-hour entitlement
6876   E09000031        Waltham Forest  15-hour entitlement

                    age number_children_dis
0     3 and 4-year-olds              177780
6     3 and 4-year-olds               11700
12    3 and 4-year-olds               28520
18    3 and 4-year-olds               20950
24    3 and 4-year-olds               15720
...                 ...                 ...
6852  3 and 4-year-olds                 535
6858  3 and 4-year-olds                 526
6864  3 and 4-year-olds                 191
6870  3 and 4-year-olds                 411
6876  3 and 4-year-olds                 735

[1147 rows x 9 columns]>

In [27]:
disadvantaged_data

,time_period,geographic_level,region_code,region_name,new_la_code,la_name,entitlement_type,age,number_children_dis
0,2024-01-01,National,NaN,NaN,NaN,NaN,15-hour entitlement,3 and 4-year-olds,177780
6,2024-01-01,Regional,E12000001,North East,NaN,NaN,15-hour entitlement,3 and 4-year-olds,11700
12,2024-01-01,Regional,E12000002,North West,NaN,NaN,15-hour entitlement,3 and 4-year-olds,28520
18,2024-01-01,Regional,E12000003,Yorkshire and The Humber,NaN,NaN,15-hour entitlement,3 and 4-year-olds,20950
24,2024-01-01,Regional,E12000004,East Midlands,NaN,NaN,15-hour entitlement,3 and 4-year-olds,15720
...,...,...,...,...,...,...,...,...,...
6852,2018-01-01,Local authority,E13000002,Outer London,E09000024,Merton,15-hour entitlement,3 and 4-year-olds,535
6858,2018-01-01,Local authority,E13000002,Outer London,E09000026,Redbridge,15-hour entitlement,3 and 4-year-olds,526
6864,2018-01-01,Local authority,E13000002,Outer London,E09000027,Richmond upon Thames,15-hour entitlement,3 and 4-year-olds,191
6870,2018-01-01,Local authority,E13000002,Outer London,E09000029,Sutton,15-hour entitlement,3 and 4-year-olds,411
6876,2018-01-01,Local authority,E13000002,Outer London,E09000031,Waltham Forest,15-hour entitlement,3 and 4-year-olds,735

In [28]:
disadvantaged_data.to_csv("/Users/vardr.DESKTOP-R06GCLK/CodeOp_Data_Analytics_Mod3on/Group_Project/Preprocessed files/disadvantage_totals_15_hours.csv", sep=",", index=False, encoding="utf8")

# Nick: Again, use relative paths :)

OSError: Cannot save file into a non-existent directory: '/Users/vardr.DESKTOP-R06GCLK/CodeOp_Data_Analytics_Mod3on/Group_Project/Preprocessed files'